[submodule "package/v2ray-core"]
	path = package/v2ray-core
	url = https://github.com/kuoruan/openwrt-v2ray.git
[submodule "package/luci-theme-argon"]
	path = package/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon
[submodule "package/openwrt-smartdns"]
	path = package/openwrt-smartdns
	url = https://github.com/pymumu/openwrt-smartdns
[submodule "feeds/luci/applications/luci-app-smartdns"]
	path = feeds/luci/applications/luci-app-smartdns
	url = https://github.com/pymumu/luci-app-smartdns.git
